.popup__container {
  padding: calc((100vw - 320px) / (1280 - 320) * (34 - 25) + 25px) calc((100vw - 320px) / (1280 - 320) * (36 - 22) + 22px) calc((100vw - 320px) / (1280 - 320) * (37 - 25) + 25px);
  width: calc((100vw - 320px) / (1280 - 320) * (430 - 282) + 282px);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  position: fixed;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
}

@media screen and (min-width: 1280px) {
  .popup__container {
    padding: 34px 36px 37px;
    width: 430px;
  }
}
