.button_action_add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url('../../../images/button/__action/button_action_add.svg');
  background-repeat: no-repeat;
  background-size: calc((100vw - 320px) / (1280 - 320) * (22 - 16) + 16px);
  background-position: center;
  align-self: center;
  grid-area: button_action_add;
}

@media screen and (min-width: 1280px) {
  .button_action_add {
    background-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .button_action_add {
    width: 100%;
    margin-top: 36px;
  }
}
