.header {
  min-height: calc((100vw - 320px) / (1280 - 320) * (74 - 56) + 56px);
  box-sizing: border-box;
  border-bottom: solid 1px rgba(84, 84, 84, .7);
}

@media screen and (min-width: 1280px) {
  .header {
    min-height: 74px;
  }
}
