.popup__heading {
  margin: 0 0 calc((100vw - 320px) / (1280 - 320) * (34 - 61) + 61px);
  font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (29 - 22) + 22px);
  font-weight: 900;
  color: #000;
}

@media screen and (min-width: 1280px) {
  .popup__heading {
    margin: 0 0 34px;
    font-size: 24px;
    line-height: 29px;
  }
}
