.profile__info {
  padding: 0 30px 0;
  display: grid;
  /* max-width: 610px; */
  grid-template-columns: min-content 1fr;
  row-gap: 7px;
  column-gap: calc((100vw - 320px) / (1280 - 320) * (18 - 10) + 10px);
}

@media screen and (min-width: 1280px) {
  .profile__info {
    column-gap: 18px;
  }
}
