.profile__job {
  margin: 0;
  font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (22 - 17) + 17px);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1280px) {
  .profile__job {
    background-size: 22px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .profile__job {
    justify-self: center;
  }
}
